<div id="<%= dom_id stock %>">
  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= stock.size_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= stock.color_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= stock.product_id %>
  </p>

</div>
